<div class="contact-holder" id="contact">
    <div class="contact-overlay">
        <div class="contact">
            <div class="contact-left">
                <div class="contact-img"><img src="/images/shrunk-logo.png" alt="navbar-logo"></div>
                <h3><i class="fa-solid fa-envelope-open"></i> Send us an Email</h3>
                <p>Have a question or need more information? Email us and we'll be happy to assist you.</p>
                <a href="mailto:info@sardioncare.ca?subject=Mail from Sardion Care">Send Email</a>
                <!-- <a href="/contact">Contact Us</a> -->
                <h3><i class="fa-solid fa-location-dot"></i> Pay us a visit</h3>
                <p>@2299 Chokecherry Close SW, Edmonton, Alberta. T6X 2M7.</p>
            </div>
            <div class="contact-right">
                <div class="contact-brands">
                    <a href="https://web.facebook.com/profile.php?id=100092661992275" target="_blank"><i class="fa-brands fa-facebook"></i> @Sardion Sardion</a>
                    <a href="https://twitter.com/sardioncare?s=11&t=nLuqhAN0DDaFNmpDybgzOg" target="_blank"><i class="fa-brands fa-twitter"></i> @sardioncareinc</a>
                    <a href="https://www.linkedin.com/in/sardion-care-inc-70661527b/" target="_blank"><i class="fa-brands fa-linkedin"></i> @Sardion Care Inc</a>
                    <a href="tel:+587-938-5059"><i class="fa-solid fa-phone"></i>587-938-5059</a>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-made-left">
        <p>Licensed by: <span>Children's Services-Edmonton Region, Government of Alberta.</span></p>
    </div>
    <div class="contact-made">
        <p>Made By: <a href="mailto:techbrosforall@gmail.com?subject=Mail from Sardion Care">TechBros</a></p>
    </div>
</div>