<div class="contact-holder" id="contact">
    <div class="contact-overlay">
        <div class="contact">
            <div class="contact-left">
                <div class="contact-img"><img src="/images/shrunk-logo.png" alt="navbar-logo"></div>
                <h3><i class="fa-solid fa-envelope-open"></i> Send us an Email</h3>
                <p>Have a question or need more information? Email us and we'll be happy to assist you.</p>
                <a href="mailto:email@example.com?subject=Mail from Sardion Care">Send Email</a>
                <a href="/contact">Contact Us</a>
            </div>
            <div class="contact-right">
                <div class="contact-brands">
                    <a href="/"><i class="fa-brands fa-facebook"></i> example@gmail.com</a>
                    <a href="/"><i class="fa-brands fa-twitter"></i> example@gmail.com</a>
                    <a href="/"><i class="fa-brands fa-instagram"></i> example@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-made">
        <p>Made By: <a href="mailto:techbrosforall@gmail.com?subject=Mail from Sardion Care">TechBros</a></p>
    </div>
</div>