<div class="navbar">
    <div class="navbar-box">
        <div class="navbar-logo">
            <img src="/images/shrunk-logo.png" alt="navbar-logo">
        </div>
        <div class="navbar-links">
            <% if (navbarContents.length) { %>
                <% for( let i = 0; i < navbarContents.length; i++ ) { %>
                   <a><%= navbarContents[i] %></a>
                <% } %>
            <% } %>
            <button class="page-menu-btn"><i class="fa-solid fa-angle-up"></i></button>
        </div>
        <div class="navbar-collapse">
            <i class="fa-solid fa-bars" id="navbar-collapse"></i>
        </div>
    </div>
    <div class="navbar-overlay">
        <div class="page-menus">
            <a href="/">Home <i class="fa-solid fa-house"></i></a>
            <a href="/about">About <i class="fa-solid fa-address-card"></i></a>
            <a href="/join">Join Us <i class="fa-solid fa-users"></i></a>
            <a href="/contact">Contact Us <i class="fa-solid fa-comment"></i></a>
        </div>
        <div class="navbar-collapsable">
            <div class="navbar-collapsable-links">
                <div class="navbar-collapsable-page-links">
                    <% if (navbarContents?.length || 0) { %>
                        <p>Current Page</p>
                     <% for( let i = 0; i < navbarContents.length; i++ ) { %>
                        <a><%= navbarContents[i] %></a>
                     <% } %>
                    <% } %>
                </div>
                <a href="/">Home <i class="fa-solid fa-house"></i></a>
                <a href="/about">About <i class="fa-solid fa-address-card"></i></a>
                <a href="/join">Join Us <i class="fa-solid fa-users"></i></a>
                <a href="/contact">Contact Us <i class="fa-solid fa-comment"></i></a>
            </div>
        </div>
    </div>
</div>