<div class="navbar">
    <div class="navbar-box">
        <div class="navbar-logo">
            <img src="/images/shrunk-logo.png" alt="navbar-logo">
        </div>
        <div class="navbar-links">
            <a>Home</a>
            <a>About</a>
            <a>Believes</a>
            <a>Services</a>
            <a>Contact Us</a>
            <button><i class="fa-solid fa-angle-up"></i></button>
        </div>
        <!-- <div class="navbar-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/join">Join Us</a>
            <a href="/contact">Contact Us</a>
        </div> -->
        <div class="navbar-collapse">
            <i class="fa-solid fa-bars" id="navbar-collapse"></i>
        </div>
    </div>
    
    <div class="navbar-collapsable">
        <div class="navbar-collapsable-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/join">Join Us</a>
            <a href="/contact">Contact Us</a>
        </div>
    </div>
</div>