<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="shortcut icon" href="/images/shrunk-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/FontAwesome/css/all.min.css">
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="stylesheet" href="/styles/media-queries.css">
</head>

<body>
    <%- include('partials/nav') %>
        <div class="content">
            <div class="hero" id="home">
                <div class="hero-overlay">
                    <div class="hero-text">
                        <div class="hero-text-box">
                            <h2>EVERY CHILD DESERVES TO REACH THEIR FULL POTENTIAL</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about page" id="about">
                <div class="head">
                    <h1>Overview</h1>
                    <p>
                        <span class="highlight"> Sardion Care Inc.</span> is committed to giving children and youth in
                        care a safe home that will
                        provide for their physical, social, educational, emotional, medical, and cultural needs. Sardion
                        Care Inc. embodies passion and commitment to the wellbeing of children and youth. We believe in
                        the worth of every child and with the right support, resources and a nurturing environment,
                        children are able to transcend trauma, thrive to become well adjusted and fully functioning
                        members of the community
                        and contribute positively to the society and the world at large.
                    </p>
                </div>
                <div class="space"></div>
                <!-- <div class="head">
                    <h1>Goals and Objectives</h1>
                    
                </div> -->
            </div>
            <div class="programs page" id="programs">
                <div class="programs-left">
                    <div class="head">
                        <h1>Program Description</h1>
                        <p>
                            <span class="highlight"> Sardion Care Inc.</span> prides itself on the ability and philosophy that services for children and
                            youth need to be adaptable regardless of the "type" of program they are placed in. The
                            common focus of the program is to provide continual guidance, support and teaching in a
                            therapeutic setting while maintaining a supported
                            family-based environment. The program is guided by a trauma informed and client centered
                            approach, the Circle of Courage Model within a therapeutically based milieu. The program is
                            guided by the Client-Centered and the Trauma Informed approaches. Additionally, the program
                            will utilize the therapeutic philosophies of the Circle of Courage as guidance when working
                            with Indigenous clients.
                            <span class="highlight"> Sardion Care Inc.</span> will be made available to all persons within the demographic and treatment
                            criteria of its defined client population without discrimination based upon ethnicity,
                            color, religion, national origin, sex, sexual orientation, place of origin / race, age,
                            physical or mental disability, medical condition and/or source
                            of income. In addition, the agency also adheres to reasonable accommodations should a client
                            be admitted with extenuating circumstances or if any person (family, professional, visitors,
                            etc.) involved with extenuating circumstances. This may include, but is not limited to, the
                            following accommodations:
                        <ul>
                            <li>
                                <p>Religious, ethnic, cultural and/or spiritual diversity;</p>
                            </li>
                            <li>
                                <p>Persons living with physical disabilities have access to the program and/or agency
                                    facilities;</p>
                            </li>
                            <li>
                                <p>Persons living with disabilities impacting communication (e.g. blindness, deafness,
                                    etc.) are able to have program materials (e.g. documents) that are within their
                                    scope of
                                    understanding;</p>
                            </li>
                            <li>
                                <p>Persons living with disabilities have access to equipment that increase their level
                                    of independence;</p>
                            </li>
                            <li>
                                <p>Program adaptations to fit the limitations of any persons living with disabilities.
                                </p>
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
                <div class="programs-right">
                    <div class="programs-img">
                        <img src="/images/programs.jpg" alt="programs">
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/contact') %>
</body>
<script src="/scripts/common.js"></script>

</html>