<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="shortcut icon" href="/images/shrunk-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/FontAwesome/css/all.min.css">
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="stylesheet" href="/styles/media-queries.css">
</head>

<body>
    <%- include('partials/nav') %>
        <div class="content">
            <div class="hero" id="home">
                <div class="hero-overlay">
                    <div class="hero-text">
                        <div class="hero-text-box">
                            <h2>EVERY CHILD DESERVES TO REACH THEIR FULL POTENTIAL</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about page" id="about">
                <div class="head">
                    <h1>Overview</h1>
                    <p><span class="highlight">Sardion Care</span> provides help for children and young people who face a wide range of emotional, mental and behavioral problems. We work to
                        find solutions using proven treatment models that strengthen the child's family and support
                        systems and dramatically improve their long-term success. <span class="highlight">Sardion
                            Care</span> directly helps tens, young people and their families to increase our impact through strong will to help and advocacy.</p>
                </div>
                <div class="space"></div>
                <div class="head">
                    <h1>Our Values</h1>
                    <p>Our Child and Youth Group Homes provides an environment where children and youth are treated with
                        respect and kindness and given absolute positive regard and opportunity to reach their full
                        potential. We believe that it is important to work in conjunction with all the youth supports to
                        best enable the youth to work towards the goal of family reunification or independent
                        living.<br><br>We believe that cultural awareness and spiritual healing are crucial in helping
                        children and youth to stabilize and realize their full potential.</p>
                </div>
            </div>
            <div class="programs page" id="programs">
                <div class="programs-left">
                    <div class="head">
                        <h1>Programs</h1>
                        <p>Our programs are designed to meet the unique needs of each child and youth we serve. We take into consideration their age, developmental stage, and desired outcomes to ensure that the program we offer is tailored to their specific needs. Our goal is to provide individualized programming that promotes positive outcomes for those we serve. We make adjustments as needed to ensure that each child and youth receives the support they need to succeed.
                            <br><br>
                            At Sardion Care, we offer a range of programs to support individuals at different stages of need. Our prevention, early intervention, and tertiary programs include individual goal setting, education, recreation and leisure activities, life skills training, health and well-being initiatives, family support, clinical services, First Nations programming, and community supports. Helping achieve goals and improve quality of life.</p>
                    </div>
                </div>
                <div class="programs-right">
                    <div class="programs-img">
                        <img src="/images/programs.jpg" alt="programs">
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/contact') %>
</body>
<script src="/scripts/common.js"></script>

</html>