<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <meta name="google-site-verification" content="
     MELFXnSHFtskj9rOAt26rCKh-YQkPebeg0I4sqlscZk">
    <meta name="title" content=" Sardion Care Inc.">
    <meta name="description" content="Helping Children Reach Their Full Potential">
    <meta name="keywords"
        content="sardion, care, sardion care, sardioncare, Adopt, Help, Children, Foster, Home, Wonderful, Inspiring, Potential">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Sardion Care Inc">
    <link rel="shortcut icon" href="/images/shrunk-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/FontAwesome/css/all.min.css">
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="stylesheet" href="/styles/media-queries.css">
</head>

<body>
    <%- include('partials/nav') %>
        <div class="content">
            <div class="hero" id="home">
                <div class="hero-overlay">
                    <div class="hero-text">
                        <div class="hero-text-box">
                            <h2>EVERY CHILD DESERVES TO REACH THEIR FULL POTENTIAL</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about page" id="about">
                <div class="head">
                    <h1>Overview</h1>
                    <p>
                        <span class="highlight"> Sardion Care Inc.</span> is committed to giving children and youth in
                        care a safe home that will
                        provide for their physical, social, educational, emotional, medical, and cultural needs. Sardion
                        Care Inc. embodies passion and commitment to the wellbeing of children and youth. We believe in
                        the worth of every child and with the right support, resources and a nurturing environment,
                        children are able to transcend trauma, thrive to become well adjusted and fully functioning
                        members of the community
                        and contribute positively to the society and the world at large.
                    </p>
                </div>
                <div class="space"></div>
                <!-- <div class="head">
                    <h1>Goals and Objectives</h1>
                    
                </div> -->
            </div>
            <div class="programs page" id="programs">
                <div class="programs-left">
                    <div class="head">
                        <h1>Land Acknowledgement</h1>
                        <p>
                            We respectfully acknowledge that we are located on Treaty 6 territory, a traditional
                            gathering place for diverse Indigenous peoples including the Cree, Blackfoot, Metis, Nakota
                            Sioux, Iroquois, Dene, Ojibway and Saulteaux (Anishinaabe), Inuit, and many others whose
                            histories, languages, and cultures continue to influence our vibrant community.

                            As an Indigenous serving organization, <span class="highlight"> Sardion Care Inc.</span> is
                            dedicated to ensuring the spirit
                            of Treaty 6 is honored and respected
                        </p>
                    </div>
                </div>
                <div class="programs-right">
                    <div class="programs-img">
                        <img src="/images/programs.jpg" alt="programs">
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/contact') %>
</body>
<script src="/scripts/common.js"></script>

</html>