<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="shortcut icon" href="/images/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/FontAwesome/css/all.min.css">
    <link rel="stylesheet" href="/styles/common.css">
    <!-- Add own css here -->
    <!-- <link rel="stylesheet" href="/styles/home.css"> -->
    <link rel="stylesheet" href="/styles/media-queries.css">
</head>
<body>
    <%- include('partials/nav') %>
    <div class="content">
        <!-- write code here -->
    </div>
    <%- include('partials/contact') %>
</body>
<script src="/scripts/common.js"></script>
</html>