<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <meta name="google-site-verification" content="
     MELFXnSHFtskj9rOAt26rCKh-YQkPebeg0I4sqlscZk">
    <meta name="title" content=" Sardion Care Inc.">
    <meta name="description" content="Helping Children Reach Their Full Potential">
    <meta name="keywords"
        content="sardion, care, sardion care, sardioncare, Adopt, Help, Children, Foster, Home, Wonderful, Inspiring, Potential">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Sardion Care Inc">
    <link rel="shortcut icon" href="/images/shrunk-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/FontAwesome/css/all.min.css">
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/contact.css">
    <link rel="stylesheet" href="/styles/media-queries.css">
</head>

<body>
    <%- include('partials/nav') %>
        <%- include('partials/alert') %>
            <div class="content">
                <div class="hero" id="home">
                    <div class="hero-overlay">
                        <div class="hero-text">
                            <div class="hero-text-box">
                                <h2>WE'D LOVE TO HEAR FROM YOU.</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reachs page" id="reach">
                    <div class="reach-left">
                        <div class="reach-img">
                            <img src="/images/reach-out.jpg" alt="reach">
                        </div>
                    </div>
                    <div class="reach-right">
                        <div class="head">
                            <h1>Reach Out</h1>
                            <p>If you have any questions about our programs or services, please don't hesitate to reach
                                out to us. Our team is here to provide you with the information and support you need to
                                make an informed decision.
                                <br><br>
                                Please feel free to contact us with any questions or concerns you may have. We look
                                forward to hearing from you.
                            </p>
                        </div>
                    </div>
                    <div class="reach-hidden">
                        <div class="reach-img">
                            <img src="/images/reach-out.jpg" alt="reach">
                        </div>
                    </div>
                </div>
                <div class="contact-form-box page">
                    <div class="head">
                        <h1>Contact Us</h1>
                    </div>
                    <div class="contact-form">
                        <form id="form-to-submit" data-subject="Contact Us Form">
                            <div class="form-group">
                                <label for="first-name">First Name:</label>
                                <input type="text" id="first-name" name="first-name">
                            </div>
                            <div class="form-group">
                                <label for="last-name">Last Name:</label>
                                <input type="text" id="last-name" name="last-name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone:</label>
                                <input type="number" id="phone" name="phone" maxlength="11">
                            </div>
                            <div class="form-group form-area">
                                <label for="message">Message:</label>
                                <textarea id="message" name="message"></textarea>
                            </div>
                            <button type="submit" id="submit-form">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <%- include('partials/contact') %>
</body>
<script src="/scripts/common.js"></script>

</html>