<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sardion Care</title>
    <meta name="google-site-verification" content="
     MELFXnSHFtskj9rOAt26rCKh-YQkPebeg0I4sqlscZk">
    <meta name="title" content=" Sardion Care Inc.">
    <meta name="description" content="Helping Children Reach Their Full Potential">
    <meta name="keywords"
        content="sardion, care, sardion care, sardioncare, Adopt, Help, Children, Foster, Home, Wonderful, Inspiring, Potential">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Sardion Care Inc">

    <link rel="shortcut icon" href="/images/shrunk-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/FontAwesome/css/all.min.css">
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/media-queries.css">
</head>

<body>
    <%- include('partials/nav') %>
        <div class="content">
            <div class="hero" id="home">
                <div class="hero-overlay"></div>
                <div class="hero-text">
                    <div class="hero-text-box">
                        <h2>Program Description</h2>
                            <ul>
                                <li>Our programming consists of supports designed to further develop the basic skills of the individuals including communication, anger management, conflict resolution, peer relationships and family issues. The additional community and professional supports guide further Service Planning to address specific and intensive issues such as grief and loss, group counseling, individual counseling, and resources to assist in the identification of mental health concerns.</li>
                                <li>Our program is also designed to support children and youth with varying degrees of trauma responses (high risk or challenging behaviors), those with impacting mental health issues and/or clients requiring support and nurturing to develop healthy and/or adaptive relationships. The program is guided by the Client-Centered and the Trauma Informed approaches. Additionally, the program will utilize the therapeutic philosophies of the Circle of Courage as guidance when working with Indigenous clients.</li>
                                <li>The focus of Sardion Care Inc. will be to prepare and ready our clients for success in a less intrusive setting such as a return to their natural family and/or foster or kinship care. Specific programming will be provided to the person served and guardian upon intake. </li>
                                <li>Cultural awareness and spiritual healing are crucial component to this program to assist in the stabilization and realizing their full potential. </li>
                            </ul>
                        <!-- <a href="/about">Learn More</a> -->
                    </div>
                </div>
                <div class="hero-slash">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100px" viewBox="0 0 1280 140"
                        preserveAspectRatio="none">
                        <g fill="#87604f">
                            <path d="M1280 140V0H0l1280 140z" />
                        </g>
                    </svg>
                </div>
            </div>
            <div class="about page" id="about">
                <div class="about-box">
                    <div class="about-left">
                        <div class="head">
                            <h1>Mission Statement</h1>
                            <p> <span class="highlight"> Sardion Care Inc.</span> believes in : “The provision to
                                provide a safe, stimulating and healing
                                environment that
                                gives children a sense of belonging, in conjunction with a quality services and supports
                                that assists the
                                social, emotional, physical, and intellectual growth of all children.</p>
                        </div>
                    </div>
                    <div class="about-right">
                        <div class="about-img">
                            <img src="/images/mission.jpg" alt="" id="abt-img-1">
                        </div>
                    </div>
                </div>
                <div class="space"></div>
                <div class="about-box">
                    <div class="about-left about-hide">
                        <div class="about-img">
                            <img src="/images/vision.jpg" alt="" id="abt-img-2">
                        </div>
                    </div>
                    <div class="about-right">
                        <div class="head">
                            <h1>Vision Statement</h1>
                            <p>
                                Through an informed transculturally based approach, <span class="highlight"> Sardion
                                    Care Inc.'s</span> vision is to ensure children and youth's personal empowerment to
                                access meaningful available resources and support to grow their full potential: social,
                                economic, mental and physical health well-being.
                            </p>
                        </div>
                    </div>
                    <div class="about-hidden">
                        <div class="about-img">
                            <img src="/images/vision.jpg" alt="" id="abt-img-2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="believes" id="beliefs">
                <div class="believes-overlay page">
                    <div class="head">
                        <h1>Beliefs and Values</h1>
                        <p>Sardion Care Inc. believes in the importance of skilled and therapeutic approaches to
                            stabilize the impact of trauma; enhance the self-worth and dignity of each individual; and
                            promote healing of childhood neglect, abuse and /or grief and loss using holistic values.
                            Our guiding principle is to involve a non-institutional holistic approach of joining family
                            values, concrete healing modalities with unconditional acceptance and guidance in a group
                            setting. Sardion Care Inc. is committed to giving children and youth in care a home that
                            will provide
                            for their physical, social, educational, emotional, medical, and cultural needs.</p>
                    </div>
                </div>
            </div>
            <div class="services page" id="services">
                <div class="head">
                    <h1>Some Of Our Services</h1>
                </div>
                <div class="services-holder">
                    <button class="services-next"><i class="fa-solid fa-arrow-right"></i></button>
                    <button class="services-back"><i class="fa-solid fa-arrow-left"></i></button>
                    <div class="services-box">
                        <div class="services-slider">
                            <div class="service">
                                <img src="/images/service-1.jpg" alt="service">
                                <div class="service-overlay">
                                    <div class="service-text">
                                        <h1>Support</h1>
                                        <p>We offer crucial support to children who have experienced trauma or difficult
                                            family situations.To provide a stable, nurturing environment where children
                                            can receive the care and attention they need to heal and thrive.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="service">
                                <img src="/images/service-2.jpg" alt="service">
                                <div class="service-overlay">
                                    <div class="service-text">
                                        <h1>Adventure</h1>
                                        <p>We provide opportunities for children in care to experience new adventures
                                            and create happy memories. These experiences can help build confidence,
                                            develop new skills, and form positive connections.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="service">
                                <img src="/images/service-3.jpg" alt="service">
                                <div class="service-overlay">
                                    <div class="service-text">
                                        <h1>Road Trip</h1>
                                        <p>Road trips with can offer children a chance to bond, make new memories, and
                                            experience new places. These experiences can help create a sense of
                                            belonging and stability, building positive connections between children and
                                            society at large.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="service">
                                <img src="/images/service-4.jpg" alt="service">
                                <div class="service-overlay">
                                    <div class="service-text">
                                        <h1>Art</h1>
                                        <p>Children tend to use art as a way to express their feelings and cope with
                                            difficult situations.We can provide a safe and supportive environment for
                                            children to explore their creativity, promoting healing and emotional
                                            well-being.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="service">
                                <img src="/images/service-5.jpg" alt="service">
                                <div class="service-overlay">
                                    <div class="service-text">
                                        <h1>Health Care</h1>
                                        <p>Access to quality healthcare is crucial for children's wellbeing. Regular
                                            checkups and preventative care promote healthy development, prevent
                                            illnesses and have long-term benefits for success.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/contact') %>
</body>
<script src="/scripts/common.js"></script>
<script src="/scripts/home.js"></script>

</html>