<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sardon Care</title>
    <link rel="shortcut icon" href="/images/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/FontAwesome/css/all.min.css">
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/media-queries.css">
</head>

<body>
   <div class="content">
    <%- include('partials/nav') %>
    <%- include('partials/contact') %>
   </div>
        <div class="content">
            <div class="hero">
                <div class="hero-overlay"></div>
                <div class="hero-text">
                    <div class="hero-text-box">
                        <h2>Help Children Reach Their Full Potential</h2>
                        <p>Every child should have the opportunity to reach for their dreams. Over 35 years, Youth
                            Villages has worked to radically improve the lives of children across the country through an
                            array of program models and services built around preserving and restoring families. We do
                            what works — partner with others to expand our reach and advocate for positive, long-term
                            change in child welfare, juvenile justice and children’s mental health systems.</p>
                        <a href="">Learn More</a>
                    </div>
                </div>
                <div class="hero-slash">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100px" viewBox="0 0 1280 140"
                        preserveAspectRatio="none">
                        <g fill="#87604f">
                            <path d="M1280 140V0H0l1280 140z" />
                        </g>
                    </svg>
                </div>
            </div>
            <div class="about">

            </div>
        </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/scripts/common.js"></script>

</html>