* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: atkinson;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: atkinson;
    src: url(/[Fonts]/AtkinsonHyperlegible-Regular.ttf);
}

:root {
    --body-bg: black;
    --tomato: #CC2F46;
    --green: #004D55;
    --light-brown: #b49c8c;
    --brown: #87604f;
    --brown-clear: rgba(82, 48, 36, 0.5);
}

/*Give space for navbar*/
body {
    padding-top: 70px;
}
/*Class to stop body scroll*/
body.stop {
    overflow: hidden;
}

/*Navbar Styles*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    background-color: var(--brown);
}

.navbar-box {
    margin: auto;
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.navbar-logo img {
    height: 100%;
    object-fit: cover;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    padding: 6px 10px;
    margin: 0 15px;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.navbar-links a:hover {
    background-color: var(--tomato);
}

.navbar-collapse {
    display: none;
    font-size: 23px;
    color: white;
    align-items: center;
}

.navbar-collapse i {
    cursor: pointer;
}

.navbar-collapsable {
    width: 100%;
    display: none;
    padding: 5%;
    background-color: white;
    border-top: 4px solid var(--tomato);
    overflow: hidden;
}

.navbar-collapsable-links {
    opacity: 0;
    transition: 0.5s;
}

.navbar-collapsable-links a {
    margin: 10px 0;
    padding: 10px 0;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 700;
}

.navbar-collapsable.active {
    display: block;
}

.navbar-collapsable.active .navbar-collapsable-links {
    opacity: 1;
}