* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: atkinson;
}

@font-face {
    font-family: atkinson;
    src: url(/[Fonts]/AtkinsonHyperlegible-Regular.ttf);
}

:root {
    --body-bg: black;
}