* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: atkinson;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: atkinson;
    src: url(/[Fonts]/AtkinsonHyperlegible-Regular.ttf);
}

:root {
    --body-bg: black;
    --tomato: #CC2F46;
    --green: #004D55;
    --light-brown: #b49c8c;
    --brown: #87604f;
    --brown-clear: rgba(82, 48, 36, 0.5);
}

/*Give space for navbar*/
body {
    padding-top: 70px;
    padding-bottom: 60vh;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: black;
}

/*Class to stop body scroll*/
body.stop {
    overflow: hidden;
}

.content {
    position: relative;
    z-index: 5;
}

/*Space*/
.space {
    width: 100%;
    height: 100px;
}

/*Header Styles*/
.head {
    position: relative;
    width: 100%;
    color: white;
    font-size: 25px;
}

.head::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 80px;
    height: 6px;
    background-color: var(--light-brown);
}

.head h1 {
    margin-bottom: 20px;
}

.head p {
    font-size: 20px;
}

/*Page Padding*/
.page {
    padding: 100px 40px 50px;
}

/*highlight colors*/
.highlight {
    color: var(--green);
}

/*Form Styles*/
.form-group {
    margin-bottom: 20px;
    width: 45%;
}

.form-group label {
    display: block;
    color: white;
    margin-bottom: 10px;
}

.form-group input {
    padding: 10px 2px 2px;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-radius: 3px;
    border-bottom: 3px solid;
    border-color: var(--light-brown);
    font-size: 20px;
    color: white;
}

.form-group textarea:focus,
.form-group input:focus {
    outline: none;
}

.form-group textarea.is-invalid,
.form-group input.is-invalid {
    border-color: red;
}

.form-group.form-area {
    width: 100%;
}

.form-group textarea {
    padding: 7px;
    width: 100%;
    height: 150px;
    background-color: transparent;
    border-radius: 3px;
    border: 0;
    border-bottom: 3px solid var(--light-brown);
    font-size: 20px;
    resize: none;
    color: white;
}

/*Spinner*/
.spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top-color: var(--gold);
    border-radius: 50%;
    animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(720deg);
    }
}

/*Alert Box Styles*/
.alert-box {
    position: fixed;
    top: 90px;
    right: 50px;
    max-width: calc(100% - 100px);
    max-height: 50%;
    z-index: 13;
    overflow: hidden;
}

.alert {
    margin: 10px 0;
    padding: 15px 10px;
    background-color: green;
    color: white;
    border-radius: 5px;
    opacity: 0;
    transition: 0.5s;
}

.alert.on {
    opacity: 1;
}

.alert.error {
    background-color: red;
}

/*Navbar Styles*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    background-color: transparent;
    z-index: 10;
}

.navbar-box {
    padding: 0 5%;
    margin: auto;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: var(--brown);
}

.navbar-logo {
    width: 100px;
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 100%;
    object-fit: cover;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    padding: 6px 10px;
    margin: 0 10px;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    text-transform: capitalize;
    cursor: pointer;
}

.navbar-collapsable-page-links a.active,
.navbar-links a.active {
    background-color: var(--tomato);
}

.navbar-links button {
    padding: 0 10px;
    background-color: transparent;
    font-size: 20px;
    border: none;
    color: white;
    cursor: pointer;
}

.navbar-overlay {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.navbar-overlay.on {
    height: calc(100vh - 70px);
}

.navbar-overlay.dark {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.page-menus {
    padding: 13px 20px;
    position: absolute;
    top: 20px;
    right: 1%;
    opacity: 0;
    background-color: var(--brown-clear);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: 0.5s;
}

.page-menus a {
    padding: 8px 5px;
    margin: 3px 0;
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: 2px solid transparent;
    border-radius: 2px;
    opacity: 0;
    transition: 0.5s;
}

.page-menus a:hover {
    color: var(--tomato);
    border-bottom: 2px solid var(--tomato);
}

.page-menus a.active {
    color: var(--tomato);
    border-bottom: 2px solid var(--tomato);
}

.page-menus i {
    margin-left: 30px;
}

.page-menus.off {
    display: none;
}

.page-menus.on {
    right: 5%;
    opacity: 1;
}

.page-menus.on a {
    opacity: 1;
}

.navbar-collapse {
    position: relative;
    display: none;
    width: 40px;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: white;    
    cursor: pointer;
}

.navbar-collapsable {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 5%;
    background-color: var(--brown-clear);
    border-radius: 30px;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

.navbar-collapsable-links {
    opacity: 0;
    transition: 0.5s;
}

.navbar-collapsable-links a {
    margin: 10px 0;
    padding: 10px 0;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: 700;
    text-transform: capitalize;
}

.navbar-collapsable-links a[href].active {
    color: var(--tomato);
}

.navbar-collapsable-page-links {
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    border-bottom: 2px solid var(--light-brown);
}

.navbar-collapsable-page-links p {
    padding: 10px;
    color: white;
}

.navbar-collapsable-page-links a {
    margin: 0;
    display: inline-flex;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    /* background-color: var(--tomato); */
}

.navbar-collapsable.on {
    opacity: 1;
}

.navbar-collapsable.off {
    display: none;
}

.navbar-collapsable.on .navbar-collapsable-links {
    opacity: 1;
}

/* Contact */
.contact-holder {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60vh;
    width: 100%;
    background: url(/images/contact-bg.jpg) left no-repeat;
    z-index: 1;
}

.contact-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.contact {
    width: 80%;
    display: flex;
    justify-content: center;
    color: white;
}

.contact-right,
.contact-left {
    width: 50%;
}

.contact-left {
    padding-right: 20px;
}

.contact-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-img {
    overflow: hidden;
}

.contact-img img {
    width: 50%;
    object-fit: cover;
}

.contact h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
}

.contact-left a {
    margin-top: 20px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--tomato);
    color: white;
    border-radius: 10px;
}

.contact-brands {
    min-width: 50%;
}

.contact-brands a {
    color: var(--light-brown);
    margin: 30px 0;
    display: block;
    font-size: 22px;
    cursor: pointer;
}

.contact-brands i {
    margin-right: 14px;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--brown);
}

::-webkit-scrollbar-thumb {
    background: var(--brown-clear);
}
/* scrollbar */