.hero {
    position: relative;
    width: 100%;
    height: 70vh;
    background: url(/images/contact-hero.jpg) center no-repeat;
    background-size: cover;
    background-color: black;
    overflow: hidden;
}


.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-text {
    position: absolute;
    width: 50%;
    height: 100%;
    color: white;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 100px);
}

.hero-text h2 {
    position: relative;
    font-size: 47px;
    margin-bottom: 10px;
}

.hero-text h2::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 80px;
    height: 6px;
    background-color: var(--light-brown);
}

.reachs {
    background-color: var(--brown);
    display: flex;
}

.reach-right,
.reach-left {
    width: 50%;
}

.reach-hidden,
.reach-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reach-hidden {
    display: none;
}

.reach-img {
    width: 80%;
}

.reach-img img {
    width: 100%;
    border-radius: 20px;
    border-bottom-right-radius: 60px;
}


@media (max-width: 900px) {
    .head p {
        font-size: 17px;
    }
}

@media (max-width: 800px) {
    .reachs {
        display: block;
    }

    .reach-right {
        width: 100%;
    }

    .reach-left {
        display: none;
    }

    .reach-hidden {
        margin-top: 30px;
        display: flex;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .reach-img {
        width: 100%;
    }
    .hero-text-box {
        width: 90%;
    }

    .hero-text h2 {
        font-size: 38px;
    }
}