:root {
    --body-bg: black;
    --tomato: #CC2F46;
    --green: #004D55;
    --light-brown: #b49c8c;
    --brown: #87604f;
    --brown-clear: rgba(82, 48, 36, 0.5);
}

.join-content,
.overlay {
    height: max-content;
}

.join-content {
    margin-top: -5%;
    opacity: 100%;
}

.overlay {
    background-color: var(--light-brown);
}

.join-text {
    margin-top: 20px;
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 5%;
    border-radius: 5%;
}

.join-text h1 {
    padding-top: 40px;
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 40px;
}

.join-text h1::after {
    margin-top: 15px;
    content: "";
    position: absolute;
    top: 8%;
    right: 43%;
    width: 80px;
    height: 6px;
    background-color: var(--brown);
}

.join-text p {
    font-size: 18px;
    font-weight: 500;
}

.join-form {
    padding: 5%;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
    align-items: center;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input:not([type="submit"]),
textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--tomato);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

textarea:focus,
input:focus {
    outline: none;
}

input[type="submit"]:hover {
    background-color: #cc203a;
}

.grid-item {
    display: flex;
    flex-direction: column;
}

.grid-item input:not([type="submit"]),
.grid-item textarea {
    border: none;
    border-bottom: 1px solid var(--body-bg);
    margin-bottom: 15px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.after-form {
    width: 90%;
    margin: auto;
    padding-bottom: 10%;
}

.after-form p {
    width: 50%;
    font-size: medium;
}

.about-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about-left,
.about-right {
    width: 50%;
}

.about-left {
    padding-right: 10%;
}

.page {
    padding:50px 40px 50px;
}

.about-img {
    margin: auto;
    width: 80%;
}

.about-img img {
    width: 100%;
}

#abt-img-1 {
    border-top-right-radius: 30px;
}











@media screen and (max-width: 800px) {
    .join-text {
        width: 90%;
    }

    .join-text h1 {
        font-size: 2.5em;
    }

    .join-text h1::after {
        top: 70px;
        right: 40vw;
    }

    .head p{
        font-size: 20px;
    }

    form {
        grid-template-columns: 1fr;
    }

    .grid-item {
        margin-bottom: 20px;
    }

    .after-form p {
        width: auto;
    }

    .about-left {
        padding-right: 10px;
    }

    .about-img {
        width: 90%;
    }
}

@media (max-width: 700px) {
    .about-box {
        display: block;
    }

    .about-hide {
        display: none;
    }

    .about-left,
    .about-right {
        padding-right: 0;
        margin: 30px 0;
        width: 100%;
    }

}

@media (max-width: 400px) {
    .head p{
        font-size: 14px;
    }
}

@media (max-width: 280px) {
    .head p{
        font-size: 12px;
    }
}