@media (max-width: 800px) {
    .hero-text {
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        width: 100%;
    }

    .hero {
        background-position: center;
        background-attachment: initial;
    }

    .head {
        font-size: 20px;
    }

    .head::before {
        width: 70px;
    }

    .navbar-links {
        display: none;
    }

    .navbar-collapse {
        display: flex;
    }

    .contact h3 {
        font-size: 20px;
    }

    .contact p {
        font-size: 13px;
    }

    .contact-brands a {
        margin: 20px 0;
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    :root {
        --gallery-width: calc(50% - 10px);
    }
}

@media (max-width: 500px) {
    body {
        padding-bottom: 85vh;
    }

    .alert-box {
        right: 20px;
        max-width: calc(100% - 40px);
    }

    .contact-holder {
        height: 85vh;
    }

    .contact {
        padding-top: 20px;
        width: 90%;
        display: block;
    }

    .contact-right,
    .contact-left {
        width: 100%;
    }

    .contact-img img {
        width: 140px;
    }

    .contact h3 {
        margin-top: 10px;
    }

    .contact-left a {
        margin-top: 10px;
        padding: 6px;
    }

    .navbar-collapsable {
        width: 92%;
    }

    .form-group input,
    .form-group textarea {
        font-size: 15px;
    }

    .form-group textarea {
        height: 100px;
    }

    .gallery-title h1 {
        font-size: 1.3em;
    }
}

@media (max-width: 440px) {
    .page {
        padding: 100px 25px 50px;
    }
}

@media (max-width: 400px) {
    :root {
        --gallery-width: 100%;
    }

    .navbar-collapsable {
        padding: 20px;
        border-radius: 10px;
    }
}